$white: #FFF;
$success: #09c476;

body {
  background-color: $success;
}

h1 {
  margin: {
    left: 50px;
  }
  color: $white;
  font-family: 'Avenir Next', sans-serif;
  font-size: 100px;
  font-weight: 400;
}
